@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.wrapper{
    width: 800px;
    height: 150px;
    padding: 2rem 1rem;
    margin:50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow:0 20px 35px rgba(0, 0, 0, 0);
}

main {
    display: flex;
    height: 100vh;
}

.left {
    flex: 1;
    background: radial-gradient(50% 50% at 50% 50%, #FBBF24 0%, #F59E0B 100%);
}

.left img {
    width: 100%;
    height: auto;
    padding: 20px;
}

.right {
    flex: 1;
    background: radial-gradient(50% 50% at 50% 50%, #F8FAFC 0%, #F5F8FB 45.49%, #F1F5F9 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

div {
    margin-bottom: 20px;
    width: 100%;
}

h1 {
    margin: 0; /* Added to remove margin */
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    width: calc(100% - 20px);
    border-radius: 5px;
    border: 1px solid #ccc;
}

button.login-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #FBBF24; /* Changed to #FBBF24 */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.login-button:hover {
    background-color: #F59E0B; /* Hover color */
}

.register-link {
    margin-top: 20px;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

.forgot-password {
    margin-top: 5px;
    align-self: flex-end; /* Aligns "Forgot Password?" link to the right-hand side */
}

.forgot-password a {
    color: #007bff;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}


